h2 {
	color: grey;
	margin: 5px;
	margin-left: 15px;
}
p {
    color: grey;
}

#div-panels { width: 1330px; }
#div-left-panels  { width: 580px; margin:10px; float:left; }
#div-right-panels { width: 700px; margin:10px; float:left; }

#div-image {
    border: 1px solid dodgerblue;
    margin-bottom:13px;
}
#txt-filename {
    position: relative;
    top: -590px;
    left: 10px;
    color: grey;
    font-size: 15px;
}

#div-cursor {
    position: absolute;
    top: 562px;
    left: 89px;
    background-color:black;
    opacity: 0.3;
}
#txt-cursor {
    position: absolute;
    bottom: 5px;
    left: 9px;
    color:white;
}

#div-hist {
    border: 1px solid dodgerblue;
}

#div-profile-x {
    border: 1px solid dodgerblue;
    margin-bottom:13px;
}
#div-profile-y {
    border: 1px solid dodgerblue;
    margin-bottom:13px;
}
#div-profile-z {
    border: 1px solid dodgerblue;
    margin-bottom:13px;
}
#div-animator {
    border: 1px solid dodgerblue;
    background-color: aliceblue;
}

#title-hist {
    position: relative;
    top: -195px;
    left: 10px;
}

#select-hist-mode {
    position: relative;
    top: -194px;
    left: 446px;
    width:122px;
}
#txt-vrange {
    position: relative;
    top: -194px;
    left: 450px;
}
#select-vrange {
    position: relative;
    top: -230px;
    left: 495px;
    width:72px;
}
#txt-vmax {
    position: relative;
    top: -234px;
    left: 450px;
}
#inp-vmax {
    position: relative;
    top: -270px;
    left: 496px;
    line-height: 1em;
    width:65px;
}
#txt-vmin {
    position: relative;
    top: -274px;
    left: 450px;
}
#inp-vmin {
    position: relative;
    top: -310px;
    left: 496px;
    line-height: 1em;
    width:65px;
}

#title-profile-x {
    position: relative;
    top: -195px;
    left: 10px;
}
#title-profile-y {
    position: relative;
    top: -195px;
    left: 10px;
}
#title-profile-z {
    position: relative;
    top: -195px;
    left: 10px;
}
#title-animator {
    position: relative;
    top: -5px;
    left: 10px;
}
#btn-channel-first {
    position: relative;
    top: -5px;
    left: 10px;
}
#btn-channel-prev {
    position: relative;
    top: -5px;
    left: 10px;
}
#btn-channel-next {
    position: relative;
    top: -5px;
    left: 10px;
}
#btn-channel-last {
    position: relative;
    top: -5px;
    left: 10px;
}
#txt-channel {
    position: relative;
    top: -10px;
    left: 20px;;
}
#inp-channel {
    position: relative;
    top: -46px;
    left: 90px;;
    line-height: 1em;
}
