h2 {
	color: grey;
	margin: 5px;
}
p {
	color: grey;
}
#div-container {
	width: 1210px;
}
/*
img {
	image-rendering: crisp-edges;
	width: 500px;
	height: 500px;
	border: 1px solid grey;
}
//border-radius:10px;
*/
#div-image {
	border: 1px solid dodgerblue;
	float:left;
	margin:10px;
}
#txt-filename {
	position: absolute;
	top: 62px;
	left: 27px;
	color: grey;
	font-size: 15px;
}
#div-cursor {
	position: absolute;
	top: 562px;
	left: 89px;
	background-color:black;
	opacity: 0.3;
}
#txt-cursor {
	position: absolute;
	bottom: 5px;
	left: 9px;
	color:white;
}

#div-diagram {
	float:left;
	margin:10px;
}
#div-histz {
	border: 1px solid dodgerblue;
	margin-bottom:13px;
}
#div-profilex {
	border: 1px solid dodgerblue;
	margin-bottom:13px;
}
#div-profiley {
	border: 1px solid dodgerblue;
}
#title-histz {
	position: absolute;
	top: 45px;
	left: 627px;
}
#title-histx {
	position: absolute;
	top: 250px;
	left: 627px;
}
#title-histy {
	position: absolute;
	top: 455px;
	left: 627px;
}